
   

   <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../public/css/login.css" />
    <link rel="shortcut icon" href="../../public/images/libro.png" />
    <title>Ingreso de usuario</title>
  </head>
  <body>
    <% if (signInMessage) { %>
        <div class="alert alert-warning alert-dismissible fade show mt-6" role="alert">
          <%= signInMessage  %> 
        </div>
        <% } %>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/admin/signIn" class="sign-in-form" method="POST">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="email" placeholder="Correo electronico" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password"  name="pass" placeholder="Contraseña" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <p class="social-text">Ponte en contacto con nosotros</p>
            <div class="social-media">
              <a href="https://www.facebook.com/julian.c.sierra.1" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://github.com/Slider000" class="social-icon">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="https://www.linkedin.com/in/julian-sierra-66a36999/" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="/admin/signUp" class="sign-up-form" method="POST">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Correo electronico" name="email"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" name="pass"/>
            </div>
            <input type="submit" class="btn" value="Sign up" />
            <p class="social-text">Ponte en contacto con nosotros</p>
            <div class="social-media">
              <a href="https://www.facebook.com/julian.c.sierra.1" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://github.com/Slider000" class="social-icon">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="https://www.linkedin.com/in/julian-sierra-66a36999/" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Necesita Registrarse?</h3>
            <p>
              Para poder ingresar a la pagina principal debe registrarse con un 
              correo electronico valido y una contraseña.   
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="../../public/images/undraw_book_lover_mkck (1).svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Ya estas registrado"?</h3>
            <p>
              Ingresa tu correo electronico y password en nuestro login.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="../../public/images/undraw_static_assets_rpm6.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="../../public/js/Login.js"></script>
  </body>
</html>