
  <% if (signUpMessage) { %>
    <div><%= signUpMessage  %> </div>
  <% } %>
  <!-- <head>
  <link rel="stylesheet" href="../../public/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
  <img class="wave" src="../../public/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../public/images/undraw_book_lover_mkck.svg">
<form action="/admin/signUp" method="POST">
    <input type="email" name="email" >
    <input type="password" name="pass">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   -->
 
 