<!-- Comentarios -->
<section id="comments">
    <div class="containerr comments-row">
        <div class="comments-left-col">
            <h1>Comentanos,<br> como te parecio el proyecto.</h1>
            <form action="/api/comments" method="post">
                <input type="email" name="correo" placeholder="Ingresa Tu Correo"  id="correo">
              
                <input type="text" name="titulo" placeholder="Motivo del mensaje" id="motivo">
         
                <textarea name="descripcion" placeholder="Escribe tu Comentario"  id="comentario" cols="10" rows="5"></textarea>
                <div class="btn-box">
                    <button class="comun-btn">Enviar</button>
                </div>
            </form>
        </div>
        <div class="comments-right-col">
            <img src="../../public/images/undraw_home_cinema_l7yl.svg">
        </div>

    </div>
</section>