 <!-- config -->

 <section id="config">
    <div class="containerr dirigido-row">
        <div class="dirigido-left-col">
            <div class="dirigido-text">
                <h1>Configuracion</h1>
                <span class="square"></span>
                <h4>Seleccione el idioma</h4>
                <select class="config" id='voiceList'></select>
                <hr>
                <h4>Seleccione tipo de entrenamiento</h4>
                <input type="text" class="config" id="perceptron_tasa_aprendizaje" value="0.2" />
                <input type="text" class="config" id="perceptron_error_deseado" value="0.05" />
                <input type="text" class="config" id="perceptron_epocas" value="50000" />
                <br><br>
                <a href="#prueba">
                    <button type="button" class="comun-btn" data-toggle="modal" data-target="#prueba_modal">Prueba</button>
                </a>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>
        <div class="dirigido-right-col">
            <img src="../../public/images/undraw_contract_uy56.svg" alt="">
        </div>
    </div>
</section>