<!-- Dirigido A -->
<section id="dirigido">
    <div class="containerr dirigido-row">
        <div class="dirigido-left-col">
            <div class="dirigido-text">
                <h1>Dirigido A:</h1>
                <span class="square"></span>
                <p>
                    Este proyecto fue desarrollado mediante la metodología SCRUM para darle la materialización a una
                    idea que se nos ocurrió, el cual nos planteaba ¿Cómo podemos enseñar a los niños otros idiomas, de
                    manera que ellos pudieran entenderlo con facilidad ?. Gracias a este cuestionamiento pudimos llegar
                    a una conclusión que era realizar un sitio web que nos permita por medio de dibujos de números nos
                    hable y diga que numero es probable que sea.
                    ¿Por qué probable? Porque en este sitio web, implementamos las redes neuronales con las cuales, el
                    niño cada vez mas le esta enseñando que numero es el que dibuja, y la neurona va aprendiendo con
                    cada trazo que el niño dibuje.
                    Además vimos que las aplicaciones que están en el mercado solo se enfocan en limitar a ciertos
                    idiomas, y quisimos ampliar esto a mas de 50 idiomas del mundo
                </p><br><br>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>
        <div class="dirigido-right-col">
            <img src="../../public/images/undraw_real_time_collaboration_c62i.svg" alt="">
        </div>
    </div>
</section>