<!-- footer -->
<section id="footer">
    <div class="containerr footer-row">
        <hr>
        <div class="footer-left-col">
            <div class="footer-links">
            <div class="link-title">
                <h4>Proyecto</h4>
                <small>Objetivo</small><br>
                <small>Dirigido a</small>
            </div>
            <div class="link-title">
                <h4>Ayuda</h4>
                <small>Comentarios</small>
            </div>
            <div class="link-title">
                <h4>Git</h4>
                <small>Juan</small><br>
                <small>Julian</small><br>
                <small>Emilio</small>
             </div>
         </div>
        </div>
        <div class="footer-right-col">
            <div class="footer-info">
                <div class="copyright-text">
                    <small>masync.j@gmail.com</small><br>
                    <small>copyright 2020 Masync</small>
                </div>
               
            </div>
        </div>
    </div>
</section>
