<section id="header">
    <div class="containerr">
        <img src="../../../public/images/Unisabaneta.png" class="logo">
        <div class="header-text">
            <h1>el propósito es <br>enseñar, acercar el aprendizaje a las personas. </h1>
            <span class="square"></span>
            <p>El uso de redes neuronales en la actualidad es un instrumento muy usado en la programación por que el objetivo de esta es tratar de buscar modelos que solucionen problemas difíciles de resolver mediante técnicas de programación convenciones  </p>
                <a href="#proyect">
            <button  class="comun-btn">ir al Proyecto</button>
        </a>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
            
        </div>
    </div>
</section>