<!-- Tecnologia Modal -->
<div id="tecnologias_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div id="modal" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title text-center">TECNOLOGIAS UTILIZADAS</h1>
        </div>
        <div class="modal-body">
               
            <div class="containerr modal-row">
                <div class="modal-left-col">
                    <div class="modal-text">
                        <h1>Keras js</h1>
                        <span class="square"></span>
                        <p>
                            es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el
                            texto
                            de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona
                            que
                            se dedica a la imprenta)
                        </p><br><br>
                        <div class="line">
                            <span class="line-1"></span><br>
                            <span class="line-2"></span><br>
                            <span class="line-3"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-right-col">
                    <img src="../../../public/images/tensor.png" alt="">
                </div>
            </div>
            <div class="containerr modal-row">
                <div class="modal-left-col">
                    <div class="modal-text">
                        <h1>Express js</h1>
                        <span class="square"></span>
                        <p>
                            es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el
                            texto
                            de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona
                            que
                            se dedica a la imprenta)
                        </p><br><br>
                        <div class="line">
                            <span class="line-1"></span><br>
                            <span class="line-2"></span><br>
                            <span class="line-3"></span>
                        </div>
                    </div>
                </div>
                <div class="dirigido-right-col">
                    <img src="../../../public/images/express.png" alt="">
                </div>
            </div> 
            <div class="containerr modal-row">
                <div class="modal-left-col">
                    <div class="modal-text">
                        <h1>Node js</h1>
                        <span class="square"></span>
                        <p>
                            es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el
                            texto
                            de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona
                            que
                            se dedica a la imprenta)
                        </p><br><br>
                        <div class="line">
                            <span class="line-1"></span><br>
                            <span class="line-2"></span><br>
                            <span class="line-3"></span>
                        </div>
                    </div>
                </div>
                <div class="dirigido-right-col">
                    <img src="../../../public/images/images.jpeg" alt="">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <div class="tecnologias-btn">
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
          <button type="button" class="comun-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>