<!-- Objetivo General -->
<section id="objetivoG">
    <div class="obj-left-col">
        <img src="../../public/images/about.png">
    </div>
    <div class="obj-right-col">
        <div class="obj-text">
            <h1>Objetivo General</h1>
            <span class="square"></span>
            <p> Crear una aplicación de aprendizaje, la cual será dirigida a los infantes menores de 5 años, que están
                un proceso de aprender tanto como los números, como los idiomas, de esta manera los integramos para
                fomentar el aprendizaje múltiple en los niños, garantizado de esta manera el uso didáctico de la
                herramienta </p><br><br>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
        </div>
    </div>
</section>