<!-- Proyecto -->
<section id="proyect">
    <div class="obj-left-col">
        <img src="../../public/images/offer.png">
    </div>
    <div class="obj-right-col">
        <div class="obj-text">
            <h1>Reconocimiento De Numeros</h1>
            <span class="square"></span>
            <p>Al principio no sabíamos por dónde empezar, ya que las librerías que íbamos a utilizar nunca las había
                implementado en proyectos entonces fue un gran reto para nosotros como grupo llevar a cabo la
                realización de la aplicación, a medida que fuimos entendiendo como funcionaba cada librería y su Core se
                fue volviendo más fácil todo, hasta realizar la unificación total del proyecto, cabe resaltar que los
                resultados fueron muy positivos desde el inicio hasta el final y llenaba de mucha emoción hacer que todo
                funcionara correctamente e hiciera todo lo que nos habíamos planteado al principio , logrando así una
                satisfacción muy grande de poder cumplir con este gran reto. </p><br><br><a href="#prueba">
                <button type="button" class="comun-btn" data-toggle="modal" data-target="#prueba_modal">Prueba</button>
            </a>
            <a href="#config">
                <button type="button" class="comun-btn" data-toggle="modal"
                    data-target="#config_modal">Configuraciones</button>
            </a>
            <br>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
        </div>
    </div>
</section>