 <!-- Prueba -->
 <section id="prueba">
    <div class="obj-left-col">
        <div id="main" class="backcanvas"> 
            <canvas class="canvas"></canvas>
        </div>
    </div>
    <div class="obj-right-col">
        <div class="obj-text">
            <h1>Dibuja!</h1>
            <span class="square"></span>
           
                <br><br>
                <a href="#config">
                    <button type="button" class="comun-btn" data-toggle="modal" data-target="#config_modal">Configuraciones</button>
                </a>
                <button class="comun-btn" onclick="predict()">Hablar!</button>
                <button class="comun-btn" onclick="erase()">Limpiar!</button>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
        </div>
    </div>
</section>

