<nav id="sideNav">
    <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#objetivoG">OBJETIVO</a></li>
        <li><a href="#tecnologias">TECNOLOGIAS</a></li>
        <li><a href="#dirigido">DIRIGIDO</a></li>
        <li><a href="#proyect">PROYECTO</a></li>
        <li><a href="">EQUIPO</a></li>
        <li><a href="#comments">COMENTARIOS</a></li>
    </ul>
</nav>
<img src="../../public/images/menu.png" id="menuBtn">