 <!-- Tecnologias -->
 <section id="tecnologias">
    <div class="tecnologias-row">
        <div class="tecnologias-col">
            <img src="../../public/images/pic-1.png">
            <h4>Keras.js</h4>
            <p>Keras en el navegador, con el soporte de GPU proporcionado por WebGL 2.</p>
        </div>
        <div class="tecnologias-col">
            <img src="../../public/images/pic-2.png">
            <h4>Express.js</h4>
            <p>Infraestructura web rápida, minimalista y flexible para Node.js </p>

        </div>
        <div class="tecnologias-col">
            <img src="../../public/images/pic-3.png">
            <h4>Node js</h4>
            <p>Node.js® es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome.</p>

        </div>
    </div>
    <div class="tecnologias-btn">
        <div class="line">
            <span class="line-1"></span><br>
            <span class="line-2"></span><br>
            <span class="line-3"></span>
        </div>
        <a href="#proyect">
            <button class="comun-btn">Ir al proyecto</button>
            </a>

</section>